<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vxsee?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="model.ItemDimensions"/>
    <mapping class="model.ConUser"/>
    <mapping class="model.PurchaseRequisition"/>
    <mapping class="model.PoDtl"/>
    <mapping class="model.CommonCombo"/>
    <mapping class="model.ItemSaleDimensions"/>
    <mapping class="model.ConObjectscaption"/>
    <mapping class="model.CrmPosLine"/>
    <mapping class="model.ItemSale"/>
    <mapping class="model.ConProfiles"/>
    <mapping class="model.InvGoodsreceivedLine"/>
    <mapping class="model.InvStockcountLine"/>
    <mapping class="model.ConNotifications"/>
    <mapping class="model.HrmEmployee"/>
    <mapping class="model.FinVat"/>
    <mapping class="model.CrmQuoteLine"/>
    <mapping class="model.ItemConfiguration"/>
    <mapping class="model.IssueLine"/>
    <mapping class="model.CrmCustomer"/>
    <mapping class="model.PrcSuppliers"/>
    <mapping class="model.InvAdjustments"/>
    <mapping class="model.PurchaseRequisitionLine"/>
    <mapping class="model.ItemPurchase"/>
    <mapping class="model.ItemGroup"/>
    <mapping class="model.PrcPurchaseOrder"/>
    <mapping class="model.ConAuth"/>
    <mapping class="model.ItemLevel"/>
    <mapping class="model.CrmDeliveryLine"/>
    <mapping class="model.CrmSalesorder"/>
    <mapping class="model.InvGoodsreceived1"/>
    <mapping class="model.Itemdata"/>
    <mapping class="model.Paymode"/>
    <mapping class="model.CrmQuote"/>
    <mapping class="model.PrcPurchaseOrderLine"/>
    <mapping class="model.CrmUomCateg"/>
    <mapping class="model.InvStockcount"/>
    <mapping class="model.CrmSalesinvoiceLine"/>
    <mapping class="model.CrmCustomerCategory"/>
    <mapping class="model.MfcJobcardLine"/>
    <mapping class="model.Bank1"/>
    <mapping class="model.CrmUom"/>
    <mapping class="model.ConObjects"/>
    <mapping class="model.Branch"/>
    <mapping class="model.MfcJobcard"/>
    <mapping class="model.ConIndustry"/>
    <mapping class="model.AllCountry"/>
    <mapping class="model.ConCompany"/>
    <mapping class="model.InvStore"/>
    <mapping class="model.BankAccount"/>
    <mapping class="model.AllCurrency"/>
    <mapping class="model.Bank"/>
    <mapping class="model.Item"/>
    <mapping class="model.ItemCustomPrices"/>
    <mapping class="model.CrmPos"/>
    <mapping class="model.PrcSupplierQuotes"/>
    <mapping class="model.ItemCategory"/>
    <mapping class="model.FinReceipt"/>
    <mapping class="model.Branch1"/>
    <mapping class="model.ItemColour"/>
    <mapping class="model.Payterm"/>
    <mapping class="model.CrmSalesorderLine"/>
    <mapping class="model.Issue"/>
    <mapping class="model.FinReceiptLine"/>
    <mapping class="model.AllStatus"/>
    <mapping class="model.InvGoodsreceived"/>
    <mapping class="model.CrmDelivery"/>
    <mapping class="model.CrmSalesinvoice"/>
    <mapping class="model.ConLife"/>
    <mapping class="model.BankAccount1"/>
    <mapping class="model.ConObjectrights"/>
        <mapping class="modelv.ViewMenu"/>
    <mapping class="modelv.ViewMenuParent"/>

  </session-factory>
</hibernate-configuration>
